# Assignment 3

### Write a function to count the number 4 in a given list.

In [1]:
lst=[1,2,4,3,4,5,4]

In [2]:
def count (a):
    _count=0
    for i in range(len(a)):
        if a[i]==4:
            _count= _count +1
            
    return _count

In [3]:
count(lst)

3

### write a  function to check whether a number is divisible by another number.

In [4]:
def divisable(num, div):
    if num % div ==0 :
        return "yes it divisible"
    else:
     return "not divisible"

In [5]:
divisable(5,2)

'not divisible'

In [6]:
divisable(6,3)

'yes it divisible'

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [7]:
st=[5,3,6,7,9,17,1,3,0]

In [8]:
def find_max_min(st):
    max=st[0]
    min=st[0]
    for i in range(len(st)):
        if max < st[i]:
            max= st[i]
        elif min > st[i]:
            min=st[i]
        
            
            
    return "min is ",min,"max is ",max

In [9]:
find_max_min(st)

('min is ', 0, 'max is ', 17)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [10]:
lst_1=[1,2,3,4,5,6]
lst_2=[10,7,8,9,0,11]

In [11]:
def find_comman(lst1,lst2):
  ans =False
  
  for i in lst1:
    for j in lst2:
        if i == j:
            ans= True
        else:
             ans = False
             
  return ans

In [12]:
find_comman(lst_1,lst_2)

False

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [13]:
def calc_factorial(num):
    
    if num == 1:
        return 1
    else:
        
        return (num * calc_factorial(num-1))

In [14]:
num=int (input ("enter your number: "))

In [15]:

calc_factorial(num)

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [16]:
def Range (x):
    if x in range(3,12):
        
            return True
    else:
            return False

In [17]:
Range(12)

False

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [18]:
def Mul (num):
    
    for i in range (1,11):
       
     print( num,'x',i,'=',num*i)

In [19]:
Mul(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [20]:
def event (n,m):
    if (n % 2 == 0) and (m % 2 == 0):
        if (n>m):
            return m
        else:
            return n
    elif (n % 2 != 0)or(m % 2 != 0):
        if (n>m):
            return n
        else:
            return m

In [21]:
event(2,4)

2

In [22]:
event(5,6)

6

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [23]:
def animal_crackers(n):
    st=len(n)
    st1=n[0]
    
    for i in range (st):
        
     if (st[i] == ""):
         
        if st[i+1]== st1:
            
          return True
        else:
           return False

In [24]:
animal_crackers('Levelheaded Llama')

TypeError: 'int' object is not subscriptable

In [ ]:
animal_crackers('Crazy Kangaroo')

TypeError: animal_crackers() missing 1 required positional argument: 'n2'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [5]:
def  makes_twenty(x,y):
    if (x or y)==20:
       return True
    elif (x+y)==20:
        return True
    else:
        return False

In [6]:
makes_twenty(20,10)

True

In [7]:
makes_twenty(12,8)

True

In [8]:
makes_twenty(2,3)

False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [13]:
def blackjack(x,y,z):
    sum=0
    if (x+y+z)<=21:
        sum=x+y+z
        return sum
    elif  ((x+y+z)>21):
        if((x or y or z)==11):
           return x+y+z-10
                
        else:
            return "BUST"

In [14]:
blackjack(5,6,7)

18

In [15]:
blackjack(9,9,9)

'BUST'

In [16]:
blackjack(9,9,11)

'BUST'